{% extends 'layout.html.twig' %}

{% block title %}Into The Wild | Admin | ÉVÈNEMENTS
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}
{% block body %}
    <section class="d-flex justify-content-center">
        <div class="row text-center">
            <h1 class="title my-5">AJOUTER UN ÉVÈNEMENT</h1>
        </div>
    </section>
    <section class="col-lg-4 offset-lg-4 d-flex justify-content-center">
        <div class="sub-sub-title text-center">
            {{ include('admin_event/_form.html.twig') }}
            <a class="btn btn-dark" href="{{ path('admin_event_index') }}"><h2 class="sub-sub-title">Retour</h2></a>
        </div>
    </section>
{% endblock %}