{% extends 'layout.html.twig' %}

{% block title %}Into The Wild | Admin
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}
{% block body %}
    <section class="d-flex justify-content-center">        
        <div class="row text-center">
            <h1 class="title my-5">INTO THE WILD</h1>
            <h2 class="sub-title my-5">LIBÈRE TON CÔTÉ SAUVAGE AUPRÈS DE</br>PASSIONNÉS DE JEUX VIDÉO</h2>
        </div>
    </section>
    <section>
        <div class="card text-center">
            <div class="card-body">
                <a href="{{ path('admin_event_index')}}"><h2 class="sub-title">Ajout d'évènements</h2></a>
            </div>
        </div>
        <div class="card text-center">
            <div class="card-body">
                <a href="{{ path('admin_menu_index')}}"><h2 class="sub-title">Ajout dans le menu</h2></a>
            </div>
        </div>
    </section>
{% endblock %}
