{% form_theme form 'bootstrap_4_layout.html.twig' %}
<section class="sub-sub-title m-5">
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-dark mt-4"><h2 class="sub-sub-title">{{ button_label|default('Enregistrer') }}</h2></button>
{{ form_end(form) }}
</section>
