{% extends 'layout.html.twig' %}

{% block title %}Into The Wild | Admin | Menu
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}
{% block body %}
    <section class="col-lg-3 text-center">
        {{ include('admin_menu/_form.html.twig', {'button_label': 'Modifier'}) }}

        <a class="btn btn-dark mb-2" href="{{ path('admin_menu_index') }}">
            <h2 class="sub-sub-title">Retour</h2>
        </a>
    </section>
{% endblock %}
