@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');
@import "~bootstrap/scss/bootstrap";

$navbarBackground: #080019;
$primary: #f7851bfa;
$fontFamilly: 'Piedra', cursive;
$footerBackground: #231F20;
