<section class="section-footer mt-5">
    <div class="footer mx-0 d-flex justify-content-around align-items-center">
        <a class="navbar-brand" href="/"><img class="img-logo" src="{{ asset('build/images/logoloup.svg') }}" alt="logo"/></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="nav-link" aria-current="page" href="#">
            <h2 class="navlink">CONTACT</h2>
        </a>
        <a class="nav-link" aria-current="page" href="#">
            <h2 class="navlink">SPONSORS</h2>
        </a>
        <div class="d-flex justify-content-center">
            <a class="navbar-brand" href="#"><img class="network-logo" src="{{ asset('build/images/instagram.svg') }}" alt="Instagram"/></a>
            <a class="navbar-brand" href="#"><img class="network-logo" src="{{ asset('build/images/facebook.svg') }}" alt="Facebook"/></a>
            <a class="navbar-brand" href="#"><img class="network-logo" src="{{ asset('build/images/twitter.svg') }}" alt="Twitter"/></a>
        </div>
    </div>
</section>
